# --- Ignore only shapefile components in data/ ---
data/*.cpg
data/*.dbf
data/*.prj
data/*.shp
data/*.shx
data/static_modis_tiles
data/static_evt

# --- Python and notebook cache ---
__pycache__/
*.ipynb_checkpoints/
*.egg-info/
.DS_Store

# --- Environment / system files ---
.env